@{
    ViewBag.Title = "Home Page";
}

<main>
     <div class="row mb-5">
         <div class="d-flex  p-5 images-div">
            <img class="col-lg-3 mx-auto" src="~/Content/Img/best_electric_luxury_car_bmw_i7.jpg">
            <img class="col-lg-3 " src="~/Content/Img/best_electric_luxury_car_bmw_i7.jpg">
            <img class="col-lg-3 mx-auto" src="~/Content/Img/best_electric_luxury_car_bmw_i7.jpg">
         </div>

     </div>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Auto Sales Are Down. Here's Why They'll Continue to Fall</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">7 things you should know about the 2018 Auri RS 5</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">In-Depth BMW X3 review by Car and Driver</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
        @*<img src="~/Content/Img/18015-MC20BluInfinito-scaled-e1666008987698.avif">
        <img src="~/Content/Img/future-cars-2023-2026.webp">*@
    </div>
</main>